/* .profile-page {
    min-height: 100vh;
    width: 100%;
    display: flex;      
    flex-direction: row;     
    align-items: stretch;
    z-index: -100;
  }

  .field-container {
    flex: 1;
    display: flex;
    flex-direction: column; 
    z-index: -1;
  }
  .horizontal-line {
    width: 100%;
    height: 0.2vh;
    background: #000000; 
    opacity: 0.5;   
    z-index: 20;  
  }
  .enemy-field {
    width: 100%;
    height: 49.9vh;
    background-color: #2d2d2d;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 95% 44%, 10% 44%, 0 55%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
  }
  .player-field {
    width: 100%;
    height: 49.9vh;
    background-color: #2d2d2d;
    clip-path: polygon(0 100%, 100% 100%, 100% 20%, 95% 56%, 10% 56%, 0 45%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
  }
  .deck-card {
    top: 600px;
    right: 1350px;
    position: absolute;
    width: 100px;
    height: 140px;
    background-image: url("../../assets/images/default.png");
    background-size: cover;
    border: 1.6px solid;
    border-radius: 5px;
    z-index: 1;
    
  }
  .player-cost-zone {
    position: absolute;
    height: 301px;
    clip-path: polygon(0 44%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #8a2121;
    z-index: 100;
    width: 65px;
    right: 147px;
    top:455px;
  }
  .enemy-cost-zone {
    position: absolute;
    height: 301px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 55%);
    background-color: #218a49;
    z-index: 100;
    width: 66.5px;
    right: 147px;
    top:0;
  }
  .right-container{
    height: 100vh;
    width: 10%;
    background-color: aqua;
    display: flex;
    flex-direction: column; 
  }
  .enemy-info{
    height: 40vh;
    background-color: blue;
  }
  .event-zone1{
    height: 20vh;
    background-color: blueviolet;
  }
  .player-info1{
    height: 40vh;
    background-color: red;
  }
   */