.profile-page {
    min-height: 100vh;
    width: 100%;
    display: flex;      
    flex-direction: row;     
    align-items: stretch;
  }

  .field-container {
    flex: 1;
    display: flex;
    flex-direction: column; 
  }
  .horizontal-line {
    width: 100%;
    height: 0.2vh; /* 선 두께 */
    background: #000000; /* 선 색상 */
    opacity: 0.5;     /* 투명도 (선택) */
    z-index: 20;      /* 필요시 조정 */
  }
  .enemy-field {
    width: 100%;
    height: 49.9vh;
    background-color: #2d2d2d;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 90% 44%, 10% 44%, 0 60%);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .player-field {
    width: 100%;
    height: 49.9vh;
    background-color: #2d2d2d;
    clip-path: polygon(0 100%, 100% 100%, 100% 40%, 90% 56%, 10% 56%, 0 40%);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .right-container{
    height: 100vh;
    width: 10%;
    background-color: aqua;
    display: flex;
    flex-direction: column; 
  }
  .enemy-info{
    height: 30vh;
    background-color: blue;
  }
  .event-zone{
    height: 40vh;
    background-color: blueviolet;
  }
  .player-info{
    height: 30vh;
    background-color: red;
  }
  