.wait-body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

.wait-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.room-info {
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

.room-info h2 {
    font-size: 2.5rem;
    color: #1d3557;
    margin-bottom: 0.5rem;
}

.room-info p {
    font-size: 1.2rem;
    color: #fd0000;
    font-weight: bold;
}

.players {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 600px;
    margin-bottom: 2rem;
    gap: 1rem;
}

.player {
    text-align: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5);
    flex: 1;
    max-width: 280px;
    transition: transform 0.3s ease;
}

.player:hover {
    transform: translateY(-5px);
}

.player p:first-child {
    font-size: 1.4rem;
    font-weight: bold;
    color: #0067f8;
}

.player p:last-child {
    font-size: 1rem;
    color: #6c757d;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
}

.buttons button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
    transform: scale(1.05);
}

.ready-button {
    background-color: #4caf50;
    color: white;
}

.ready-button.ready {
    background-color: #3e8e41;
}

.start-button {
    background-color: #2196f3;
    color: white;
}

.return-button {
    background-color: #f44336;
    color: white;
}


.message-box {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 2px solid #5093ce;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: slideDown 0.5s ease-out;
}

.close-button {
    background-color: #278eb0;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
