@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap");

.deck-body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #2c3e50;
}

.navigation-section {
  background-image: url("./assets/images/mainbg.png");
  padding-right :40px;
  padding-left: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.deck-header-image{
  background-image: url("./assets/images/deckheader.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  width: 907px;
  height:132px;
}
.nav-button {
  padding: 15px 10px;
  font-size: 1.7em;
  text-align: center;
  font-family: "Do Hyeon", serif;
  letter-spacing: 3px;
  font-weight: bold;
  color: #145179;
  background-color: #f4cd4d;
  border: 5px solid #145179;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.nav-button:hover {
  background-color: rgb(236, 244, 78);
  transform: scale(1.05);
}

.selected-cards-container {
  position: sticky;
  font-family: "Do Hyeon", serif;
  top: 0;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border-top: 4px solid #1f3a4c;
  overflow-x: auto;
  white-space: nowrap;
}
.selected-cards-container::-webkit-scrollbar {  
    height: 12px;
  }
  
  .selected-cards-container::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .selected-cards-container::-webkit-scrollbar-thumb {
    background: rgba(255, 225, 0, 0.3);
    border-radius: 4px;
  }
  
.selected-cards {
  display: inline-flex;
  gap: 20px;
  padding: 25px;
}

.selected-card {
  flex: 0 0 auto;
  width: 140px;
  height: 190px;
  background-color: #145179;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.selected-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.selected-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card-list {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  background-image: url('./assets/images/mainbg.png');
}

.card {
  width: 100%;
  height: auto;
  background-color: #2980b9;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

