.profile-page {
    background: linear-gradient(#baba1c,#323220,#000000);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
  .profile-info {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .profile-info p {
    margin: 10px 0;
  }
  
  h1 {
    margin-bottom: 20px;
  }