@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap");

.store-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.store-container {
  text-align: center;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 70px;
  margin-bottom: 20px;
}

.store-header {
  font-family: "Do hyeon", serif;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  /*background: linear-gradient(135deg, #264D3D 0%, #4cc69e 50%, #2d4835 100%);*/
  /*background-color: rgba(48, 255, 86, 0.3);*/
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  box-sizing: border-box;
  height: 5vh;
  /* backdrop-filter: blur(20px);  */
}

.store-currency {
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin-top: 5px;
  border-radius: 12px;
  border: 2px black solid;
  background-color: transparent;
  padding: 5px 5px;
  margin-left: 30px;
}

.inventory-button,
.main-button {
  margin-top: 2vh;
  height: 35px;
  font-family: "Do hyeon", serif;
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 5px 10px;
  border: solid 2px black;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 1vw;
  backdrop-filter: blur(9px);
  color: white;
}

.inventory-button:hover,
.main-button:hover {
  background: #9575cd;
  transform: scale(1.1);
  transition: transform 0.2s;
}

h2 {
  color: #4a148c;
  font-size: 2rem;
  margin-bottom: 20px;
}

.store-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 20vh;
  margin-bottom: 20px;
}

.store-card {
  font-family: "Do hyeon", serif;
  width: 200px;
  background-color: transparent;
  color: white;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
}

.store-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.buy-button {
  font-family: "Do hyeon", serif;
  background: linear-gradient(#f7ccff, #c07fdb);
  color: #4a148c;
  font-size: 1rem;
  font-weight: bold;
  margin: 5px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.buy-button:hover {
  background-color: #b39ddb;
  transform: translateY(-2px);
}

.close-button {
  background: linear-gradient(#9c27b0, #380b4b);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.close-button:hover {
  background-color: #7b1fa2;
  transform: translateY(-2px);
}
